<!doctype html>
<html>
    <head>
        <title>Veterinaria</title>
        <style>
            .hidden {
            display:none;
            }
        </style>
    </head>

    <body>
        <h1>Clientes</h1>
        <ul>
            {% for cliente in clientes %}
            <li>
            <strong>Nombre:</strong>
            <p>{{ cliente.nombre }}</p>
            <strong>DNI:</strong>
            <p>{{ cliente.dni }}</p>
        </ul>
    
        <ul>
            {% for mascota in cliente.mascotas %}
            <li>
            <strong>Nombre:</strong>
            <p>{{ mascota.nombre }}</p>
            <strong>Tipo:</strong>
            <p>{{ mascota.tipo }}</p>
            <strong>Raza:</strong>
            <p>{{ mascota.raza }}</p>
            </li>
            {% endfor %}
        <!-- Botón para borrar el cliente -->
            <form method="post" action="{{ url_for('borrar_cliente', id=cliente['_id']) }}">
                <button type="submit">Borrar cliente</button>
            </form>

        <!-- Botón para editar el cliente -->
            <button id="editar-cliente">Editar cliente</button>
            <form method="post" action="{{ url_for('editar_cliente', id=cliente['_id']) }}" class="hidden">
                <input type="hidden" name="id" id="cliente-id">
                <label>Nombre:</label>
                <input type="text" name="nombre" id="cliente-nombre" required>
                <label>Dirección:</label>
                <input type="text" name="dni" id="cliente-dni" required>

                <button type="submit">Editar cliente</button>
            </form>

        </ul>

        {% endfor %}

</html>