<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <h2>Agregar cliente</h2>
        <ul>
            <form method="post" action="{{ url_for('agregar') }}" class="hidden">
                <label>Nombre:</label>
                <input type="text" name="nombre" required>
                <label>DNI:</label>
                <input type="text" name="dni" required>
                <button id="add-client-button" type="submit">Agregar cliente</button>
            </form>
        </ul>
    </body>

    <script>
        var button = document.getElementById('add-client-button');
        var fields = document.getElementsByClassName('hidden');

        button.addEventListener('click', function() {
                for (var i = 0; i < fields.length; i++) {
                    fields[i].style.display = 'block';
                        }
                    }
                ); 
    </script>
    </body>
</html>