{% extends 'index.html' %}

{% block main %}
<section class="intro">
    <div class="container">
        <div class="container">
            <h3 class="text-center">Nuevo registro</h3>
        </div>

        <div class="card-body responsive">
            <form action="/agregar" method="post" class="form-inline mx-auto">
                <label>Dueño</label>
                <input type="text" class="form-control mb-3" name="nombre" placeholder="Escriba el nombre del dueño" required>
                <label>DNI</label>
                <input type="number" class="form-control mb-3" name="dni" placeholder="Número de DNI del dueño" required>
                <label>Mascota</label>
                <input type="text" class="form-control mb-3" name="mascota" placeholder="Escriba el nombre de la mascota" required>
                <label>Nacimiento</label>
                <input type="date" class="form-control mb-3" name="fecha_nacimiento" placeholder="Seleccione el año de nacimiento de la mascota" required>
                <label>Tipo</label>
                <input type="text" class="form-control mb-3" name="tipo" placeholder="Escriba el tipo. Ejm: perro, gato, etc" required>
                <label>Raza</label>
                <input type="text" class="form-control mb-3" name="raza" placeholder="Escriba la raza de la mascota" required>
                <button class="btn btn-success" type="submit">Guardar</button>
            </form>
        </div>
    </div>
</section>
{% endblock %}