{% extends 'index.html' %}

{% block main %}
<div class="container text-center">
  <h3 class="mx-auto">Búsqueda en Registro</h3>
  <form action="/busqueda" method="post" class="form-inline mx-auto">
    {{ form.csrf_token }}
    {{ form.term_busqueda(placeholder="Ingrese el valor a buscar", class="form-control w-50 mx-auto") }}
    {{ form.busqueda_select(class="form-select my-2 w-50 mx-auto") }}
    <input type="submit" value="Buscar" class="btn btn-primary">
  </form>
  {% if resultados %}
    <table class="table table-striped mx-auto">
      <thead class="thead-dark">
        <tr>
          <th>Dueño</th>
          <th>DNI</th>
          <th>Mascota</th>
          <th>Fecha de nacimiento</th>
          <th>Tipo</th>
          <th>Raza</th>
        </tr>
      </thead>
      <tbody>
        {% for resultado in resultados %}
          <tr>
            <td>{{ resultado.nombre }}</td>
            <td>{{ resultado.dni }}</td>
            <td>{{ resultado.mascota }}</td>
            <td>{{ resultado.fecha_nacimiento }}</td>
            <td>{{ resultado.tipo }}</td>
            <td>{{ resultado.raza }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}
</div>

{% endblock %}