<!-- Testing -->

<!DOCTYPE html>
<body>
  <form method="POST">
        {{ form.csrf_token }}
        {{ form.propietario.label }} 
        {{ form.propietario }}
        {{ form.dni.label }} 
        {{ form.dni }}
        {{ form.mascota.label }} 
        {{ form.mascota }}
        {{ form.mascota_nac.label }} 
        {{ form.mascota_nac }}
        {{ form.tipo.label }} 
        {{ form.tipo }}
        {{ form.raza.label }} 
        {{ form.raza }}
        {{ form.submit }}
      </form>
</body>
</html>