<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Registro Veterinario 1.0</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>

    <main>
        <header class="container ">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#"><img src="https://uploads-ssl.webflow.com/6320941e9612f79b0e2f61b1/63209670562cf7eb6f31131a_silabuz-logo-rebrand-standar.png" alt="Logo de tu sitio"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                    <a class="nav-link" href="../">Inicio</a></li>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="../clientes/">Lista</a></li>
                    </li>
                    <li class="nav-item">
                    <a class="nav-link" href="../nuevo/">Nuevo Registro</a></li>
                    </li>
                </ul>
                </div>
            </nav>
        </header>
    </main>

    <footer>
        <h1><img src="https://uploads-ssl.webflow.com/6320941e9612f79b0e2f61b1/63209670562cf7eb6f31131a_silabuz-logo-rebrand-standar.png" alt="Logo"></h1>
        <p class="copyFooter">&copy; Hola</p>
    </footer>
</html>