<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro Veterinario 1.0</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
  </head>

  <body>
    <header>
      <section>
        <a class="navbar-brand" href="../">
          <img src="https://i.ibb.co/txq16pT/1111.png" alt="Logo">
        </a>
        <label for="toggle-1" class="toggle-menu">
          <ul>
            <li></li> 
            <li></li> 
            <li></li>
          </ul>
        </label>
        <nav>
          <ul>
            <li>
              <a href="../clientes/"><i class="icon-thumbs-up-alt"></i>Registro Mascotas</a>
            </li>
            <li>
              <a href="../nuevo/"><i class="icon-thumbs-up-alt"></i>Nuevo Registro</a>
            </li>
            <li>
              <a href="../busqueda/"><i class="icon-thumbs-up-alt"></i>Búsqueda</a>
            </li>
            <li>
              <a href="../auth/signup"><i class="icon-thumbs-up-alt"></i>Crear Usuario</a>
            </li>
            {% if current_user.is_authenticated %}
              <li>Bienvenido, {{ current_user.username }}</li>
              <a href="{{ url_for('auth_bp.logout') }}">Cerrar sesión</a>
            {% else %}
              <li>
                <i class="icon-thumbs-up-alt"></i><a href="{{ url_for('auth_bp.login') }}">Login</a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </section>
    </header>
    {% block main %}
    {% endblock %}
  </body>

  <footer class="bg-secondary text-white py-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-auto">
          <img src="https://uploads-ssl.webflow.com/6320941e9612f79b0e2f61b1/63209670562cf7eb6f31131a_silabuz-logo-rebrand-standar.png" alt="Logo" class="img-fluid">
          <div class="row justify-content-center mt-3">
            <div class="col-auto">
              <p>&copy; Proyecto Flask + mongoDB</p>
            </div>
          </div>      
        </div>
      </div>
    </div>
    {% block footer %}
    {% endblock %}
  </footer>
</html>