{% extends 'base.html' %}

  {% block main %}

  <div class="container" >
    <div class="card">
      <div class="card-header">
        <h5 class="text-center">Registros</h5>
      </div>
      <div class="card-body text-center">
        <table class="table mx-auto">
          <thead>
            <tr>
              <th scope="col">Nombre del dueño</th>
              <th scope="col">DNI</th>
              <th scope="col">Nombre de la mascota</th>
              <th scope="col">Fecha de nacimiento</th>
              <th scope="col">Tipo</th>
              <th scope="col">Raza</th>
              <th scope="col">Acciones</th>
            </tr>
          </thead>

          <tbody>
            {% for cliente in clientes %}
            <form method="post" action="{{ url_for('editar_cliente', id=cliente['_id']) }}" id="formulario">
              <td><input type="text" value="{{cliente.nombre}}" name="nombre" id="nombre" disabled></td>
              <td><input type="text" value="{{cliente.dni}}" name="dni" id="dni" disabled></td>
              <td><input type="text" value="{{cliente.mascota}}" name="mascota" id="mascota" disabled></td>
              <td><input type="date" value="{{cliente.fecha_nacimiento}}" name="fecha_nacimiento" id="fecha_nacimiento" disabled></td>
              <td><input type="text" value="{{cliente.tipo}}" name="tipo" id="tipo" disabled></td>
              <td><input type="text" value="{{cliente.raza}}" name="raza" id="raza" disabled></td>
              <td>
                <button class="btn btn-primary btn-sm mt-3" id="editar-button" type="button">Editar</button>
                <a href="{{ url_for('borrar_cliente', id=cliente['_id']) }}" class="btn btn-danger btn-sm mt-3" formmethod="POST">Eliminar</a>
              </td>
            </form>
            {% else %}
              <tr>
                <td colspan="7" class="text-center">No se encontró registros</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div> 
    </div>
  </div>
  <script>
    var editarButton = document.getElementById('editar-button');
    var formulario = document.getElementById('formulario');
    var inputs = document.getElementsByTagName('input');
  
    editarButton.addEventListener('click', function() {
      if (editarButton.innerHTML === 'Editar') {
        editarButton.innerHTML = 'Guardar';
        for (var i = 0; i < inputs.length; i++) {
          inputs[i].disabled = false;
        }
      } else {
        formulario.submit();
      }
    });
  </script>
{% endblock %}