<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" 
        rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">

    </head>
    <main>
            <div class="card">
                <div class="card-header">
                    <h5 class="text-center">Registros</h5>
            </div>
                <div class="card-body">
                    <ul class="list-group">
                        <div>
                            {% for cliente in clientes %}
        
                                <div class="col">
                                    <li>
                                        <form action="{{ url_for('editar_cliente', id=cliente['_id']) }}" method="POST">
        
                                            <small>Nombre del dueño</small>
                                            <input type="text" class="form-control" value="{{cliente.nombre}}" name="nombre" required>
                                            <small>DNI</small>
                                            <input type="text" class="form-control" value="{{cliente.dni}}" name="dni">
                                            <small>Nombre de la mascota</small>
                                            <input type="text" class="form-control" value="{{cliente.mascota}}" name="mascota">
                                            <small>Fecha de nacimiento</small>
                                            <input type="text" class="form-control" value="{{cliente.fecha_nacimiento}}" name="fecha_nacimiento">
                                            <small>Tipo</small>
                                            <input type="text" class="form-control" value="{{cliente.tipo}}" name="tipo">
                                            <small>Raza</small>
                                            <input type="text" class="form-control" value="{{cliente.raza}}" name="raza">
        
                                            <button class="btn btn-primary btn-sm mt-3" type="submit">Editar</button>
                                            
                                            <a href="{{ url_for('borrar_cliente', id=cliente['_id']) }}" class="btn btn-danger btn-sm mt-3"
                                            formmethod="POST">Eliminar</a>
                                        </form>
                                    </li>
                                </div>
        
                            {% else %}
        
                            <div class="d-flex justify-content-center">
                                <p class="text-center">No se encontró registros</p>
                            </div>
        
                            {% endfor %}
                        </div>
                    </ul>
                </div> 
            </div>
        </div>
    </main>
</html>